body {
	background: #a0a0a2;
	margin:0px;
	box-sizing: border-box;
	color:#373737;
	font-size: 16px;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	zoom:1;
}

#header {
	background-color:#a1a1a3;
	height:125px;
	width:100%;
	zoom:1;
}

#footer {
	background-color:#a1a1a3;
	height:45px;
	width:100%;
	text-align:right;
	zoom:1;
}

#header_logo {
	width:470px;
	height:100px;
	background-image:url("../images/rocaloid_logo.png");
	margin-top:4px;
	zoom:1;
}

#nav,#MainVR,#leftbox{
	float:left;
	zoom:1;
}

#rightbox {
	padding: 5px 10px;
	min-height:300px;
	margin:0 0 0 150px;
	zoom:1;
}

#leftbox {
	margin:0 5px 0 0;
	width:156px;
}

.inner,#footer {
	position:relative;
	max-width:850px;
	padding:5px 1px;
	margin:0 auto;
	zoom:1;
}

#main {
	background-color:#f2f2f2;
	width:100%;
	min-height:200px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	zoom:1;
}

#nav {
	padding: 25px 0;
	min-width:20px;
	height:480px;
	margin:0 0 0 0;
}

#after {
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	zoom:1;
}

div.linkbox {
	background-image:url("../images/linkbox.png");
	width:128px;
	height:24px;
	margin:0 10px 5px 2px;
	zoom:1;
}

div#linkboxs {
	min-height:85%
	zoom:1;
}

#MainVR {
	background-color:#fff;
	width:1px;
	height:400px;
	box-shadow:1px 1px 10px;
	margin:10px 4px 0 0;
	zoom:1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: 700;
	color:#222222;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
	zoom:1;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

p {
	margin: 10px 0 15px 0;
}

footer p {
	color: #f2f2f2;
}

p.postdate {
	font-size: 10px;
	margin:0 0 15px 20px;
	font-weight: 500;
	zoom:1;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
	color: #F2F2F2;
	text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  /*overflow: auto;*/
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style: inside;
  padding-left: 20px;
}

ol {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}
