body,html {
	margin:0
}
body {
	background: #FFF -webkit-gradient(linear, left top, left bottom, color-stop(0, #E4E4E4), color-stop(1, #FFFFFF)) repeat-x;
	background: #FFF -moz-gradient(linear, left top, left bottom, color-stop(0, #E4E4E4), color-stop(1, #FFFFFF)) repeat-x;
	background-size: 100% 400px;

}
.amz-container {
	margin-left:auto;
	margin-right:auto;
	width:100%;
	max-width:1000px;
	padding-left:15px;
	padding-right:15px
}
.amz-header-x {
	margin-bottom: 0 !important;
	background-color: #556166;
	color: #222;
	border: 0;
}
.am-topbar-brand {
	padding: 0 30px; 
}
#amz-header {
	width:100%;
	background:#0e90d2
}
.amz-index #amz-header {
	top:0;
	z-index:1000
}
.standalone #amz-header {
	padding-top:15px
}
#amz-header a {
	color:#fff;
	display:block;
	line-height:50px
}
#amz-header h1 {
	margin:0;
	float:left;
	font-weight:400;
	font-size:20px;
	font-variant:small-caps
}
#amz-header h1 a {
	display:block;
	height:50px;
	width:165px;
	text-indent:-9999px;
	background:url(/i/landing/logo.png) no-repeat left center;
	-webkit-background-size:125px 24px;
	background-size:125px 24px
}
#amz-header nav {
	margin-left:-15px;
	margin-right:-15px;
	clear:both
}
#amz-header nav a {
	position:relative;
	padding:0 25px;
	font-size:15px;
	color:#f2f2f2;
	overflow:hidden;
	-webkit-transition:.3s;
	transition:.3s
}
#amz-header nav a:hover {
	background:rgba(0,0,0,.1);
	color:#fff
}
#amz-header nav .am-active a {
	background:#0b76ac;
	color:#fff
}
#amz-header .nav-profile img {
	margin-right:5px
}
#amz-header ul {
	list-style:none;
	padding:0;
	margin:0
}
#amz-header .am-btn {
	border:none;
	float:right;
	margin-top:5px;
	margin-right:-5px
}
#amz-home {
	overflow-x:hidden
}
#amz-hero {
	padding: 60px 0 0;
}
.amz-mascot img {
	float: left;
}
.amz-hero-intro {
	padding-bottom:30px
}
.amz-hero-intro hgroup {
	color:#000;
	padding:10px
}
.amz-hero-intro h1,.amz-hero-intro h2,.amz-hero-intro h3 {
	margin:5px 0
}
.amz-hero-intro h1 {
	font-size:48px;
	font-weight:400
}
.amz-hero-intro h2 {
	font-size:24px;
	font-weight:400;
	margin-bottom:15px
}
.amz-hero-intro h3 {
	font-size:16px;
	font-weight:400
}
.amz-btn-started {
	padding: 20px 14px;
}
.amz-notify {
	padding:1em;
	background-color:rgba(0,0,0,.15);
	color:#ddd
}
.amz-notify [class*=am-icon-]:before {
	margin-right:5px
}
.amz-notify .am-hide-sm {
	text-align:right
}
.amz-notify a {
	color:#eee
}
.amz-notify a .amz-notify-divider {
	color:#ccc;
	padding:0 5px
}
.amz-features {
	padding:15px 0
}
.amz-features img {
	display:block;
	margin-left:auto;
	margin-right:auto
}
.amz-features h2 {
	text-align:center;
	margin-top:10px
}
.amz-features [class*=col-] {
	padding:15px
}
.amz-credits {
	padding:35px 0;
	background-color:#eee
}
.amz-credits hgroup {
	text-align:center
}
.amz-credits hgroup h1 {
	text-align:center;
	font-size:40px;
	font-weight:400
}
.amz-credits hgroup h2 {
	margin-top:20px;
	font-size:18px;
	font-weight:300
}
.amz-credits-list {
	margin-top:35px
}
.amz-credits-list>div {
	padding-left:20px;
	padding-right:20px;
	height:100%
}
.amz-credits-list>div:last-child {
	border-right:none
}
.amz-credits-list>div h2 {
	font-weight:400;
	margin-bottom:25px;
	font-variant:small-caps
}
.amz-credits-list>div p {
	font-size:15px;
	font-weight:300
}
.amz-banner {
	background:#f5f5f5 url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAB/lBMVEV9fX2EhISAgIB/f396enp4eHh+fn55eXmDg4OBgYGIiIh8fHx1dXWCgoJ3d3eFhYV7e3uGhoZ0dHR2dnaJiYmLi4uHh4dsbGyMjIxycnKNjY1vb2+Kiopzc3OOjo5wcHCPj49tbW1xcXGUlJRubm5paWmQkJBra2uTk5OSkpJbW1uRkZFmZmZZWVmVlZVdXV1qamqXl5c2NjaZmZlWVlY+Pj5oaGiYmJhXV1dPT09nZ2dYWFhiYmJUVFSWlpZMTEyamppjY2M6OjpDQ0NmZmZKSko4ODhAQEBVVVVCQkI9PT1lZWVkZGRiYmJaWlphYWFFRUVlZWVeXl5SUlJgYGBgYGCfn59hYWGbm5tBQUFRUVFHR0dnZ2dkZGQ8PDxfX1+cnJxqampKSkpJSUleXl5oaGhfX19dXV1sbGxQUFBTU1NLS0tjY2M7OztHR0czMzNERESdnZ1cXFyenp6ioqI0NDSgoKA5OTlpaWlOTk5MTExYWFhISEhGRkZFRUU3NzdcXFyhoaFGRkZbW1tNTU0/Pz9JSUlvb29DQ0Nra2ttbW2np6dOTk4tLS1aWlqlpaUxMTFTU1NZWVlubm6mpqY8PDxVVVVzc3NLS0tWVlYyMjI9PT1NTU0uLi4rKyuqqqqpqamxsbFEREQvLy8/Pz+jo6NPT0+tra2urq6rq6uB8wb7AAAAqnRSTlMHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcJBwcJBwkHBwwHCQwHBwkJBwkJCQcJBwcMDAkJDAwJDAwJBwcJCQwHCQkJBwcHBwwJDAkJDAkHCQwMBwkHBwkJCQkJDAkMDAcJBwcMBwwJCQwHCQkJDAcHDAcJDAkJCQkJBwwMBwcMBwcJBwkHCQwHDAkMDAwHBwcJDAkHDAcHBwAM668AAAvjSURBVBgZBcGDoi3XggDA5bbt7m3j2LZ1bduOnTxjbOsvpwqsjtxZ2dzefDlyaXVj5LOjkZGd1Y1/erdyffNoc3xjZHvlzsb49qV3OzvXL23ubG9u73y9sfJiZeV3757dXn0HrjSXa7BU8GXws/zXPjIiY5kfwzKXy5ppan8LBF6VFmTWe8LMjJatSGq3xFF0DJGDK2C14RMXl5WLtIV9xrCWE6lb8pAuc03+7ne+o4YL+6UKml5CgJ+U3SCfFgjyw7yNcrAt+DrFekUCvxSirpoSSIUzxZjwOFqP4CaSh0osqRrukzQxhVKjpM7PDIQOrUl1CC6xgLcDxCr6SRuARCMAWWMQ1ReiNC3iTcR5MQhZyj0XzXNWuUQj8QdJs8WGyCUBeKlmCBlYFW62iC3guMKn9pT2vZnJzALmbZ1SZYHjPP5jjCWRF22puEdTg1aAWVbAs3a7XGrqJUl67Bm6jf9UHEfdOrIor0M+G697hmBkJp/2S78Jl7wqEIR5urxvhNK5ogDjhQ6hUxX4By2Ok8zzug+LLjmuSgRRjV3xNILFzA+Dn2q2NrGvKjaeT+Rgwg4NPQAb1Bh2At7uiZ/cEHB6NYNoMeHamqsDeuHZQNUczOtW2opZ4hglIIB1RSaxJOtqCD4IWOJ4C/l+SzHjDoJvL/inoypQlG9zHF7ihSUQlS1b6Wo9QW7kNYJvREYT607Mh2D18sHYT39xeG39y+fdxZP/nO72P0391dq//3qt//jx9NbR3NnT7txB/6tW90m/v9s/PPiyu371cH7u6aOt0znwtW12jptRWXBndZkYrsgH72c5oqK8LtaMDTujlkkimVzlmcVBJJfgQ7shuobg8t+Av0+KwhN154HQ8vwFJJm+G7QUvJwzH2XBHXFpNKxrUZhMQ2WSGhKVs34kdqJz8NUeBFdiwFijcMrytJKY8gQSI+NRrDpeT1JK0XbF6pFq6Y1gb4Ea7EEuRfTUUi2Kat8IPNjADQckIpwZPFngLT1DDkem05tgFDUNVR6pM6a5mkbBNCRybDPXsG6ly3xHS3LIwPXhvgQzxTn3vt/UlLLHdFnql02t47KZ4/Co4hbA7SGJPGpLgaWhjFQXQzsSU4Wz/gBGGI8asKoIwlX/gliHERX5LkDqqMg8F68IATU+h9H3xj0GCGCKzuMnBM9wqSSqBOxkHcZgonxT7TMbfKOFPWR8cuwCX8yoHLyTdAjpTAHTqbuc3xmVFIM/k5uBp9DzEQDjceaqaUiY2OJyGYqIUNqCb0TLYBjrGxAkjYZYdMisKGPiGKWePQ8FInJ5jjnwouBdmHO8OjNn/SEAgRPola+q2LJrppLvrWZZ5y978YBqT1PO021g5/6jhKVmL87aIdi82pq+dXDyq9bl3en1bn/tZG7xeWtxbWvx7NanxdPNtVb/+doX3bHd2bH+4dTjubPZ9ceP+90vrt5bW58Fq/iu4wox71mzmBfqGqTWcJpvRNCuXkS1TSf1Ah0yfHEeqG7lfqE0rGv7LjEoFbgFcGTqRMHYVKWxCUqLCS/04BYRdRNpIBZ//BZYkKO+p02FesNS9ZI7GJObkoRUQQfgSpTpslkNouXFpUm5bMGiURtLJB17QinhxplfqZznIkH4Eusz1VKTBmrXpR1sqNRWwJ1q6hEdGaK7VjpOY8uyDftvJhwJ4Zou9f6omIrFBMOqz+FYDXJRk8prXIm3oAurFth2GAi5coOJW8pFdE7jrAlyaHMdTnlrhNpneRbyo3vCTDhVFpng2EgWviACBa6EoQN2Yr/cSGQ5lFvUtC2hioF8WmN1l1hZRrZVLl3woZqofbWS6Bym1cpsXbIbvissnAebOlQZhYZV/tmp4vN/V8OCME9NLyaZ49y/jfYBnKST0Z+uhr5Kfq/xnPw0RoaHnVyQwCXgevuKVuIWWpHLlKHjf8tfLuM3NjQFLRrvWUYRpDGbeRLVeFdyZMltJXYMq+XEBuB2aNqDmzN1RtcQGNTlwKnEl+ULir+X6kvK9UmJGTCfSOA/7LG9AT6XiH4XpqGDVbdJwD8ebayujHy9M/7bZ6sb26u3L41vXB/55zs/Xhp58eHDi89evNh5ef3D78ZXfhxfGb/ybPXDb+9cXzm6vrK5vbq9Aq44mlrt1ZRs8hZyReAslAT1lhpk5F+cisgf/SsvV5koB96cLiqa0XTr+boH2vJQ57w6eDmaV9q4doFcaGVxzAmiRvHufSWKTJELycsLZVfjEKrID/m20qZE4MgNAAgsC1QywR0ZT8hJA09wl2MY26nJSdWtmzGckfWLhvEMNvPMaTqfu9Oo16TLAL8p9z3CVOK+Nw3wR3+AMfaVpjMVSAIpAjUMvnrl23XW21Obz/4t6e1BpKTxwYXMfu846C19nXrwOJlAWARHWI+guU9E8UTjjIRqnX159lzFlCVuoH27mbkVEtQvVvChGCWRQbXyg3tBZFsCFj9fAtddhxiqGKL4RHCHSkMx5YlFKA2tIRTV+o6cJK6M1VS7LMujbpEvFXgOnSNUxUgF4E6SoYjVOrI7PxQknjPqWviDJ+EaL3WoORKoUVkwStgYa5dUjqtLBZtWTSblExyogx3Pk0OEdL/xqA4m7UAcVflrPc9kkZiWnHHe11NPmZRK04GpBzzsQPlQhUWeuEHkg/9gjjRqqEs951eiVRX4yE68dVkTGdOUyL+ScI6RBaLGPwpcjhAwqvjT2XK7Cu8TwQfba88/js1OPV2ffXg6ffLFWPfjz49vza93702dTc+e3P7lcP3J/OnY4bVut3swdnJtd25365fujcP51o2fZsGlN4MclSVd185g3HQ7xoKkPFT5RuaWUfXmqhgaChKcVN5tozzllwMzOAF5PYOahAgYD/nf383YAzKYqyg1TYplPX6ulOgk4R5Yr8Y5nhXIjDg6lXFFFZAZa3JNSp0GLHvMBkf6Xu3PoiiU3d1qDgbq8E1gfSUxlyvhEs+P5HUnzCx235nWwLIp8DwwdxV+ggVNACbBuFcTVMUXaPuJTOhkGxX7lWsccwxxCZjJdyIVITThq8kvQwokzXdCdRHylAVVngIwnlSsSHNHX/3X5b3QRRX3/M3KLdpWZ/hIG0ojDNkuQLrBtjRpr2YIqlDdAiQZeKOywoMdvgbfWqMIJH1uDzgXxFyX15tpx1LKBs9GdFgpYUx8cFAioC5O+o740Fd51LBNpIGVXAG0PFSYNSa0S0QMqR/fEIdA4pDtV0ZMSyobSjEopsJj2aq5pTKaNzDHOD/EVfBZwseYgeGMd02tFbaFGqw0JpvU9YfSezhys01MMV4wuSkbfC5Ysob02dgHilcYVQi+Zpyk23CmiKY7ph2jakMHZ0IF1FRX5/B3MEkUhshSqdvOHPvPtq6em49BnKnofC6B/546mO0ftl4/f/3x2u7s3EHr2tjiramHZ2f9samr916evH54+mj3h63W2OnHq/daa/O761Njizden81+ujEPxg2HZ5RouHmAjElNczKTrQNz1EuHimUeTXiyQDhaS+dpfUks4lgu5oYkgqqIOm1w+39Akw9iNcMHjEhUln2J2wUyL+4HHGFXFJM3m3JgwrXc62jLigTxXO8uIOfM/73ogZGK+QAMq1acda1gENkJzO5v+aE7OlAdzRsvyQ1CF0DKb3FqyEk2bYBFSSKj+WSSC2DnIg4emNaSY76Wfd5I24TqB0JT4Dwi/l8+Xld8jZb5peWnKPRTb1DA0adgAugcEhYGYASlNud5QTkbIza/n+aRokyJAc4N8y4IV5qKaHBOu0hOI4dEChObZM7ROlWeWXoD3K6gePk30MHu1ftmaNlCDOHlFBwfI7EketuYqRoEQ74yheyCksqokFx2XI/5ryZTAYxo9O0M4gRb7dbo8pKiyDP1rdAFklV4zDgCdznKUU2YuFEkCVZQoltrShhEupZBBq6oWC2h4+/NfNFzZD3VqVDMERViO9RxsVqqLYPJHoHp6YwyyKmtSNZUqpV5LbyZN8FGDcj8Hk0nwK89janceYtmh4Z/nr8AiC1siJ4QBcjIYQtzx74/jF11cQDtTgjL0fn/B3nx6a7PXIC/AAAAAElFTkSuQmCC) left top;
	padding-top:30px;
	padding-bottom:30px
}
.amz-banner h1 {
	font-weight:400;
	font-size:36px
}
.amz-banner h1:last-child {
	margin-bottom:0
}
.amz-banner p {
	color:#555
}
#amz-main {
	padding-top:30px;
	padding-bottom:30px
}
#amz-main .amz-container {
	padding-left:0;
	padding-right:0
}
.landing-list #amz-main .amz-container {
	padding-left:15px;
	padding-right:15px
}
.external-link:after {
	content:"\f08e";
	display:inline-block;
	font-family:FontAwesome;
	font-weight:400;
	font-style:normal;
	vertical-align:baseline;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	margin-left:3px;
	margin-right:2px
}
a[href*='github.com'].external-link:after,a[href*='github.io'].external-link:after {
	content:"\f09b"
}
a[href*='apple.com'].external-link:after {
	content:"\f179"
}
a[href*='chrome.com'].external-link:after {
	content:"\f1a0"
}
a[href*='msdn.com'].external-link:after,a[href*='microsoft.com'].external-link:after,a[href*='windows.com'].external-link:after {
	content:"\f17a"
}
a[href*='w3.org'].external-link:after {
	content:"\f02d"
}
.doc-content {
	overflow:hidden;
	word-wrap:break-word;
	counter-reset:header2
}
.doc-content>h2 {
	counter-increment:header2;
	counter-reset:header3
}
.doc-content>h2:before {
	content:counter(header2) ". "
}
.doc-content>h3 {
	counter-increment:header3;
	counter-reset:header4
}
.doc-content>h3:before {
	content:counter(header2) "." counter(header3) " "
}
.doc-content>h4 {
	counter-increment:header4
}
.doc-content>h4:before {
	content:counter(header2) "." counter(header3) "." counter(header4) " "
}
.doc-content>h2:before,.doc-content>h3:before,.doc-content>h4:before {
	color:#888;
	font-weight:400
}
#doc-widget-frame {
	width:320px;
	height:480px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	overflow-x:hidden;
	-webkit-box-shadow:0 0 5px 2px rgba(0,0,0,.1);
	box-shadow:0 0 5px 2px rgba(0,0,0,.1)
}
#doc-widget-frame::-webkit-scrollbar {
	display:none
}
.amz-sidebar .am-nav>li>a {
	color:#777;
	-webkit-transition:.15s;
	transition:.15s
}
.amz-sidebar .am-nav>li.am-active a {
	background:#f5f5f5;
	color:#333
}
.amz-footer {
	padding:20px 0 10px;
	margin-bottom: -25px;
	background: #6493AC;
	color: #fff;
}
.amz-footer a {
	color:#fff
}
.amz-footer a:hover {
	color:#eee
}
.amz-footer ul {
	list-style:none;
	margin:0;
	padding:0
}
.amz-footer .amz-fd {
	display:inline-block;
	opacity:.85;
	margin-right:15px;
	margin-bottom:10px
}
.amz-footer .amz-fd a {
	display:block;
	width:92px;
	height:30px;
	text-indent:-9999px;
	background:url(/i/ui/am-logo.png) no-repeat left center;
	-webkit-background-size:92px 30px;
	background-size:92px 30px
}
.amz-footer .amz-links {
	display:inline-block
}
.amz-footer .amz-links a {
	color:#fff
}
.amz-footer .amz-cp {
	font-size:13px;
	margin:10px 0
}
.amz-footer .amz-social {
	text-align:center;
	margin-bottom:10px
}
.amz-footer .amz-social li {
	display:inline-block;
	margin-left:10px
}
.amz-footer .amz-social li:first-child {
	margin-left:0
}
.amz-footer .amz-social a {
	display: block;
	height: 40px;
	width: 40px;
	background: #FFF;
	color: #47748B;
	font-size: 28px;
	line-height: 40px;
	border-radius: 50%;
	-webkit-transition: .15s;
	transition: .15s;
}
.amz-footer .amz-social a:hover {
	background:#eee
}
.amz-toolbar {
	position:fixed;
	right:10px;
	bottom:70px;
	z-index:9999
}
.amz-toolbar a {
	display:none;
	opacity:.7
}
.amz-toolbar a:hover {
	opacity:1
}
.amz-toolbar a.am-active {
	display:block
}
@media only screen and (min-width:641px) {
	.amz-toolbar {
	bottom:10px
}
}.amz-sidebar-toggle {
	position:fixed;
	right:10px;
	bottom:10px;
	z-index:1009;
	opacity:.5;
	-webkit-transition:.2s;
	transition:.2s
}
.amz-sidebar-toggle:hover {
	-webkit-transform:rotate(720deg);
	-ms-transform:rotate(720deg);
	transform:rotate(720deg);
	opacity:1
}
.auth-card {
	max-width:280px;
	background:#f8f8f8;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,.25);
	box-shadow:0 0 2px rgba(0,0,0,.25);
	padding-top:20px;
	padding-bottom:20px
}
.auth-card .am-alert {
	padding:5px 10px
}
#user-avatar {
	width:72px;
	height:72px;
	background:url(http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=144) no-repeat center center;
	-webkit-background-size:72px 72px;
	background-size:72px 72px;
	margin-bottom:20px;
	-webkit-box-shadow:0 0 1px rgba(0,0,0,.1);
	box-shadow:0 0 1px rgba(0,0,0,.1)
}
@media only screen and (max-width:640px) {
	.amz-sidebar .am-nav>li>a {
	color:#ccc;
	border-radius:0;
	border-top:1px solid rgba(0,0,0,.3);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.05);
	padding-top:.5em;
	padding-bottom:.5em
}
.amz-sidebar .am-nav>li>a:hover {
	background:#404040;
	color:#fff
}
.amz-sidebar .am-nav>li+li {
	margin-top:0
}
.amz-sidebar .am-nav>li.am-nav-header {
	color:#777;
	background:#404040;
	box-shadow:inset 0 1px 0 rgba(255,255,255,.05);
	text-shadow:0 1px 0 rgba(0,0,0,.5);
	border-top:1px solid rgba(0,0,0,.3);
	font-weight:400;
	font-size:75%;
	margin-top:0;
	margin-bottom:0
}
.amz-sidebar .am-nav>li.am-active>a {
	background:#1a1a1a;
	color:#fff;
	box-shadow:inset 0 1px 3px rgba(0,0,0,.3)
}
.amz-sidebar .am-nav-en {
	margin-left:5px;
	color:#999;
	font-size:12px;
	font-weight:200
}
.amz-hero-intro {
margin-top: -50px;
}
}@media only screen and (min-width:641px) {
	#amz-header nav {
	float:right;
	clear:none;
	margin:0
}
#amz-header ul {
	display:block
}
#amz-header ul li {
	float:left
}
#amz-header .nav-profile a {
	padding:0 10px
}
.amz-notify {
	font-size:1.4rem
}
.amz-hero-intro {
	float:right
}
.amz-hero-intro h1 {
	font-size:56px
}
.amz-hero-intro h2 {
	font-size:32px
}
.amz-hero-intro h3 {
	font-size:18px
}
.amz-features [class*=col-] {
	padding-left:20px;
	padding-right:20px
}
.amz-sidebar,.doc-content {
	font-size:1.4rem
}
.amz-sidebar {
	border-right:1px solid #eee
}
.amz-sidebar .am-nav>li.am-nav-header {
	border-left:3px solid #3bb4f2;
	padding:0 1em;
	margin-top:.4em;
	margin-bottom:.4em
}
.amz-sidebar .am-nav>li+li {
	margin-top:0
}
.amz-sidebar .am-nav>li+li.am-nav-header {
	margin-top:10px
}
.amz-sidebar .am-nav>li>a {
	padding-top:.3em;
	padding-bottom:.3em
}
.amz-sidebar .am-nav>li>a:hover {
	color:#555
}
.amz-sidebar .am-nav-en {
	margin-left:5px;
	color:#aaa;
	font-size:10px;
	vertical-align:bottom;
	font-variant:small-caps
}
.doc-offcanvas {
	display:block;
	position:static;
	background:0 0
}
.doc-offcanvas .am-offcanvas-bar {
	position:static;
	width:auto;
	background:0 0;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}
.doc-offcanvas .am-offcanvas-bar:after {
	display:none
}
.amz-footer {
	padding: 30px 0 15px;
	background: #6493AC;
	margin-bottom: -25px;
	margin-top: 50px;
	color: #fff;
	font-size: 1.4rem;
}
.amz-footer a {
	color: #fff;
}
.amz-social {
	float:right
}
.am-topbar-inverse .am-topbar-nav>li>a:after {
	border-bottom-color: #556166 !important;
}
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
.amz-content {
	margin-top: 30px;
}
