<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rocaloid: 从零做起，自由的歌声合成系统</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amui.all.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="http://libs.useso.com/js/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
<header class="am-topbar am-topbar-inverse amz-header-x" >
  <h1 class="am-topbar-brand">
    <a href="/index_en.html">Rocaloid</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">Switch</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
		<li><a href="/index_en.html">Home</a></li>
		<li><a href="/sub/en/blog/index.html">Blogs</a></li>
		<li><a href="/sub/en/download.html">Downloads</a></li>
		<li><a href="http://rocaloid.wikia.com/">Wiki</a></li>
		<li><a href="/sub/en/donation.html" title="Donate">Donate</a>	</li>
		<li><a href="/sub/en/contact.html" title="Contact Us">Contact Us</a></li>
    </ul>
  </div>
</header>
<div class="am-g amz-content">
  <div class="col-sm-11 col-sm-centered">
  	<div class="am-container">
		<!--[if lte IE 9]>
		  <script type="text/javascript">window.location="http://old.rocaloid.org"</script>
		<![endif]-->
		{{ content }}
  	</div>
  </div>
</div>

<footer class="amz-footer">
	<div class="am-g amz-container">
		<div class="col-md-4 col-md-push-8">
			<ul class="amz-socail">
				<li>
					<a href="/sub/en/history.html" title="History">
						<i class="fa fa-history"></i> History
					</a>
				</li>
				<li>
					<a href="/sub/en/manual.html" title="Manual">
						<i class="fa fa-book"></i> Manual
					</a>
				</li>
				<li>
					<a href="/sub/en/donation.html" title="Donate">
						<i class="fa fa-money"></i> Donate
					</a>
				</li>

			</ul>
		</div>
		<div class="col-md-8 col-md-pull-4">
			<h2 class="amz-fd">
				语言：
			</h2>
			<ul class="amz-links">
				<li>
					<a href="/index_zh.html">
						简体中文
					</a>
					|
					<a href="/index_en.html">
						English
					</a>

				</li>
			</ul>
			<p class="amz-cp">
				Rocaloid is a non-profit project. 
				</a><br />
				Designed by 
				<a href="http://oran.pw/" target="_blank">
					Oran Zhang
				</a>
				. <br />Published with <a href="http://pages.github.com/">GitHub Pages</a>
			</p>
		</div>
	</div>
</footer>


<script src="http://libs.baidu.com/zepto/1.1.3/zepto.min.js"></script>
<script>window.Zepto || document.write('<script src="assets/js/zepto.min.js?1.1.3"><\/script>')</script>
<script src="/assets/js/amui.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>

