<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>Rocaloid: 从零做起，自由的歌声合成系统</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
</head>
<body>
	<div id="header">
		<div class="inner">
			<div id="header_logo"></div>
		</div>
	</div>
	<div id="main">
		<div class="inner">
			<div id="leftbox">
				<div id="nav">
					<div id="linkboxs">
						<div class="linkbox"><a href="/index_zh.html">首页</a></div>
						<div class="linkbox"><a href="/sub/zh/blog.html">博客</a></div>
						<div class="linkbox"><a href="/sub/zh/history.html">项目历史</a></div>
						<div class="linkbox"><a href="/sub/zh/download.html">下载</a></div>
						<div class="linkbox"><a href="/sub/zh/manual.html">用户手册</a></div>
						<div class="linkbox"><a href="/sub/zh/wiki.html">Wiki</a></div>
						<div class="linkbox"><a href="/sub/zh/posts.html">投稿</a></div>
						<div class="linkbox"><a href="/sub/zh/contact.html">联系</a></div>
						<div class="linkbox"><a href="/sub/zh/donation.html">捐赠</a></div>
					</div>
				</div>
				<div id="MainVR"></div>
			</div>
			<div id="rightbox">
				{{ content }}
			</div>
			<div id="after"></div>
		</div>
	</div>
	<div id="footer">
		<div id="w3validator">
			<p>
			<a href="http://validator.w3.org/check?uri=referer"><img
			src="http://www.w3.org/Icons/valid-xhtml11" alt="Valid XHTML 1.1" height="31" width="88" />
			</a>
			</p>
			<p>
			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img style="border:0;width:88px;height:31px"
				src="http://jigsaw.w3.org/css-validator/images/vcss"
				alt="Valid CSS!" />
			</a>
			</p>
		</div>
		<p>
			语言：<a href="/index_en.html">English</a> | <a href="/index_zh.html">简体中文</a><br /><br />
			本站使用<a href="http://pages.github.com/">GitHub Pages</a>发布<br />
			Rocaloid是一个非盈利性项目。<br />
		</p>
	</div>
</body>
</html>
