
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Rocaloid: The free vocal synthesis system from scratch.</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amui.all.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="http://libs.useso.com/js/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
<header class="am-topbar am-topbar-inverse amz-header-x" >
  <h1 class="am-topbar-brand">
    <a href="/index_en.html">Rocaloid</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">Switch</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="/index_en.html">Home</a></li>
      <li><a href="/sub/en/blog.html">Blog</a></li>
      <li><a href="/sub/en/download.html">Download</a></li>
      <li><a href="http://rocaloid.wikia.com/">Wiki</a></li>
    </ul>

  </div>
</header>
<div id="amz-home">
  <section id="amz-hero">
    <div class="amz-container am-cf">
      <div class="amz-mascot am-scrollspy-init am-scrollspy-inview am-animation-slide-left"
      data-am-scrollspy="{animation: 'slide-left', delay: 100}">
        <img src="/assets/i/rocaloid.png" alt="Rocaloid Logo">
      </div>
      <div class="amz-hero-intro">
        <hgroup>
          <h1 data-am-scrollspy="{animation:'slide-left'}" class="am-scrollspy-init">
            Rocaloid
          </h1>
          <h2 data-am-scrollspy="{animation:'slide-right', delay: 500}" class="am-scrollspy-init">
            natural and flexible
          </h2>
          <h3 data-am-scrollspy="{animation:'slide-bottom', delay: 1000}" class="am-scrollspy-init am-scrollspy-inview am-animation-slide-bottom">
            the free vocal synthesis system from scratch
          </h3>
        </hgroup>
        <div class="amz-btn-started am-scrollspy-init am-scrollspy-inview am-animation-scale-up"
        data-am-scrollspy="{animation:'scale-up', delay: 1500}">
          <a href="/sub/en/download.html" class="am-btn am-btn-success am-btn-lg">
            Get Started
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="am-g">
  <div class="col-sm-11 col-sm-centered">
  	<div class="am-container">
		<!--[if lte IE 9]>
		<p class="browsehappy">Your Browser <strong>Out of Date</strong>!。 Please <a href="http://browsehappy.com/" target="_blank">Upgrade Your Browser</a>
		  to Get Best Experience!</p>
		<![endif]-->
		{{ content }}
  	</div>
  </div>
</div>

<footer class="amz-footer">
	<div class="am-g amz-container">
		<div class="col-md-4 col-md-push-8">
			<ul class="amz-social">
				<li>
					<a href="/sub/en/history.html" title="History">
						<i class="fa fa-history"></i>
					</a>
				</li>
				<li>
					<a href="/sub/en/manual.html" title="Manual">
						<i class="fa fa-book"></i>
					</a>
				</li>
				<li>
					<a href="/sub/en/donation.html" title="Donate">
						<i class="fa fa-money"></i>
					</a>
				</li>
				<li>
					<a href="/sub/en/contact.html" title="Contact Us">
						<span class="am-icon-paper-plane">
						</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-8 col-md-pull-4">
			<h2 class="amz-fd">
				Languages:
			</h2>
			<ul class="amz-links">
				<li>
					<a href="/index_zh.html">
						简体中文
					</a>
					|
					<a href="/index_en.html">
						English
					</a>

				</li>
			</ul>
			<p class="amz-cp">
				Rocaloid is a non-profit project. 
				</a><br />
				Designed by 
				<a href="http://oran.pw/" target="_blank">
					Oran Zhang
				</a>
				. <br />Published with <a href="http://pages.github.com/">GitHub Pages</a>
			</p>
		</div>
	</div>
</footer>


<script src="http://libs.baidu.com/zepto/1.1.3/zepto.min.js"></script>
<script>window.Zepto || document.write('<script src="assets/js/zepto.min.js?1.1.3"><\/script>')</script>
<script src="/assets/js/amui.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>
