<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>Rocaloid: The free vocal synthesis system from scratch.</title>
	<!--[if lt IE 9 ]>
		<link rel="stylesheet" type="text/css" href="/css/main_ie8.css" />
	<![endif]-->
	<!--[if (gt IE 8)|!(IE)]><!-->
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<!--<![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
</head>
<body>
	<div id="header">
		<div class="inner">
			<div id="header_logo"></div>
		</div>
	</div>
	<div id="main">
		<div class="inner">
			<div id="leftbox">
				<div id="nav">
					<div id="linkboxs">
						<div class="linkbox"><a href="/index_en.html">Home</a></div>
						<div class="linkbox"><a href="/sub/en/blog.html">Blog</a></div>
						<div class="linkbox"><a href="/sub/en/history.html">History</a></div>
						<div class="linkbox"><a href="/sub/en/download.html">Download</a></div>
						<div class="linkbox"><a href="/sub/en/manual.html">Manual</a></div>
						<div class="linkbox"><a href="/sub/en/wiki.html">Wiki</a></div>
						<div class="linkbox"><a href="/sub/en/posts.html">Posts</a></div>
						<div class="linkbox"><a href="/sub/en/contact.html">Contact</a></div>
						<div class="linkbox"><a href="/sub/en/donation.html">Donation</a></div>
					</div>
				</div>
				<div id="MainVR"></div>
			</div>
			<div id="rightbox">
				{{ content }}
			</div>
			<div id="after"></div>
		</div>
	</div>
	<div id="footer">
		<p>
			Language：<a href="/index_en.html">English</a> | <a href="/index_zh.html">简体中文</a><br /><br />
			Published with <a href="http://pages.github.com/">GitHub Pages</a><br />
			Rocaloid is a non-profit project.<br />
		</p>
	</div>
</body>
</html>

